<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ECX.PreTradeRegistration.BackOffice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="DirPath" value="LDAP://ecx.com/DC=ecx,DC=com" />
    <add key="domain" value="ecx" />
    <add key="ACDUser" value="appsa" />
    <add key="ACDPass" value="09Solecx" />
    <add key="DirPath2" value="LDAP://ecx.com/OU=Trade,DC=Trade,DC=ECX,DC=com" />   
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <!--<add name="LookupConnectionString" connectionString="data source=10.3.5.69\STAGGING; initial catalog=StagingECXLookup;password=AdminP99;integrated security=False;User ID=dbaccess;connect Timeout = 7200" providerName="System.Data.SqlClient" />
    <add name="TradeConnectionString" connectionString="data source=10.3.5.69\STAGGING; initial catalog=StagingECXTrade;password=AdminP99;integrated security=False;User ID=dbaccess;connect Timeout = 7200" providerName="System.Data.SqlClient" />
    <add name="CDConnectionString" connectionString="data source=10.3.5.69\STAGGING; initial catalog=dbCentralDepository;password=AdminP99;integrated security=False;User ID=dbaccess;connect Timeout = 7200" providerName="System.Data.SqlClient" />
    <add name="MembershipConnectionString" connectionString="data source=10.3.5.69\STAGGING; initial catalog=dbECXMemberShip1;password=AdminP99;integrated security=False;User ID=dbaccess;connect Timeout = 7200" providerName="System.Data.SqlClient" />-->

    <add name="LookupConnectionString" connectionString="data source=BusApcluster\BusApinstance; initial catalog=ECXLookup;password=s2_wzqZ/U2^7hC%v;integrated security=False;User ID=applicationdbaccess;connect Timeout = 7200" providerName="System.Data.SqlClient" />
    <add name="TradeConnectionString" connectionString="data source=BusApcluster\BusApinstance; initial catalog=ECXTrade;password=s2_wzqZ/U2^7hC%v;integrated security=False;User ID=applicationdbaccess;connect Timeout = 7200" providerName="System.Data.SqlClient" />
    <add name="CDConnectionString" connectionString="data source=BusApcluster\BusApinstance; initial catalog=dbCentralDepository;password=s2_wzqZ/U2^7hC%v;integrated security=False;User ID=applicationdbaccess;connect Timeout = 7200" providerName="System.Data.SqlClient" />
    <add name="MembershipConnectionString" connectionString="data source=BusApcluster\BusApinstance; initial catalog=dbECXMemberShip1;password=s2_wzqZ/U2^7hC%v;integrated security=False;User ID=applicationdbaccess;connect Timeout = 7200" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <ECX.PreTradeRegistration.BackOffice.Properties.Settings>
      <setting name="ECX_PreTradeRegistration_BackOffice_ECXSecurityAccess_ECXSecurityAccess" serializeAs="String">
        <value>http://10.1.5.20:5000/ECXSecurity/ECXSecurityAccess.asmx</value>
      </setting>
    </ECX.PreTradeRegistration.BackOffice.Properties.Settings>
  </applicationSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>